export(finite_difference, 
       finite_differences, 
       sindy, 
       windowed_sindy, 
       features)

import(arrangements,matrixStats,igraph,graphics,grDevices)

importFrom(pracma, mldivide)
